.banner {
   position: relative;
   height: 773px;
   padding: 50px 0;
   
}

.banner__container {
   height: 100%;
   background: url("../assets/images/bg/banner.png") right 20px bottom -82px/ 675px 762px no-repeat;
}

.banner__title {
   font-size: 150px;
   font-weight: 900;
   line-height: 100%;
   letter-spacing: -18px;
   margin-bottom: 10px;
}

.banner__subtitle {
   padding-left: 100px;
   font-size: 28px;
   font-weight: 400;
   line-height: 50px;
   letter-spacing: 0px;
   margin-bottom: 30px;
}

.banner__info {
   display: flex;
   margin-bottom: 150px;
}

.banner__info-block {
   flex-basis: 166px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-right: 40px;
   text-align: center;
}

.banner__info-title {
   font-size: 100px;
   font-weight: 900;
   color: var(--main-color);
   line-height: 1;
}

.banner__info-text {
   font-size: 30px;
}

.banner__btn {
   display: block;
   width: 300px;
   /* height: 80px; */
   padding: 25px 69px;
   background: var(--btn-color);
   border-radius: 10px;
   text-transform: uppercase;
   backdrop-filter: blur(10px);
   font-weight: 700;
   font-size: 26px;
   text-align: center;
   box-shadow: 5px -5px 10px 10px var(--psevdo-color);
   transition: box-shadow 3s cubic-bezier(.97,.19,.83,.67),
               background-color 1s cubic-bezier(.97,.19,.07,.73);
}

/* .banner__btn-down {
   display: block;
   position: absolute;
   left: 50%;
   transform: translateY(-50%);
   bottom: 110px;
   width: 97px;
   height: 97px;
   background: url("../assets/images/icons/down.svg") center center/cover no-repeat;
} */

.banner__btn-down {
   position: absolute;
   display: block;
   left: 50%;
   transform: translateX(-50%);
   bottom: 120px;
   transition: all 10s ease-in-out;
}
.banner__btn-down svg {
   circle {
      transition: all 2s ease-in-out;
   }
   rect {
      transition: all 1s ease-in-out;
   }
}