.banner {
   height: 823px;
   background: url("../assets/images/bg/banner.png") right 130px bottom / contain no-repeat;
   margin-bottom: 60px;
}

.banner__title {
   font-size: 150px;
   font-weight: 900;
   line-height: 100%;
   letter-spacing: -18px;
   margin-bottom: 10px;
}

.banner__subtitle {
   padding-left: 100px;
   font-size: 28px;
   font-weight: 400;
   line-height: 50px;
   letter-spacing: 0px;
}
