#faq li {
   width: 100%;
   position: relative;
   list-style-type: none;
   background-color: #fff;
   color: #1C1A1A;
   font-weight: 700;
   font-size: 24px;
   padding: 30px 70px;
   margin-bottom: 20px;
   
}

#faq li:nth-child(even) {
   background-color:#440F51;
}

#faq li::after {
   content: "";
   position: absolute;
   right: 72px;
   top: 50%;
   transform: translateY(-50%);
   display: inline-block;
   width: 47px;
   height: 47px;
   background-image: url(../assets/images/open-purple.svg);
   background-size: contain;
   cursor: pointer;
}

#faq li:nth-child(even)::after {
   content: "";
   position: absolute;
   right: 72px;
   top: 50%;
   transform: translateY(-50%);
   display: inline-block;
   width: 47px;
   height: 47px;
   background-image: url(../assets/images/open.svg);
   background-size: contain;
   cursor: pointer;
}