.faq {
   padding: 50px 0;
}

.faq__item {
   position: relative;
   list-style-type: none;
   background-color: #fff;
   color: #1C1A1A;
   font-weight: 700;
   font-size: 24px;
   padding: 30px 70px;
   margin-bottom: 20px;
}

.faq__item:last-child {
   margin-bottom: 0;
}

.faq__item:nth-child(even) {
   background-color:#440F51;
   color: #fff;
}

.faq__item {
   /* content: "";
   position: absolute;
   right: 72px;
   top: 50%;
   transform: translateY(-50%);
   display: inline-block;
   width: 47px;
   height: 47px; */
   background-image: url(../assets/images/open-purple.svg);
   background-repeat: no-repeat;
   background-size: 46px 46px;
   background-position: right 70px center;
   cursor: pointer;
}

.faq__item:nth-child(even) {
   /* content: "";
   position: absolute;
   right: 72px;
   top: 50%;
   transform: translateY(-50%);
   display: inline-block;
   width: 47px;
   height: 47px; */
   background-image: url(../assets/images/open.svg);
   background-repeat: no-repeat;
   background-size: 46px 46px;
   background-position: right 70px center;
   cursor: pointer;
}