.footer {
  padding-top: 50px;
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.footer__content {
   display: flex;
   justify-content: space-between;
   margin-bottom: 40px;
}

.footer__contacts {
   margin-bottom: 35px;
}

.footer__item {
   display: flex;
   align-items: center;
   gap: 30px;
   font-size: 24px;
   font-weight: 700;
   color: #fff;
   margin-bottom: 20px;
}

.footer__item-location::before {
   content: "";
   display: inline-block;
   vertical-align: baseline;
   width: 35px;
   height: 32px;
   background: url("../assets/images/icons/location.svg") center center / cover no-repeat;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer__item-phone::before {
   content: "";
   display: inline-block;
   vertical-align: baseline;
   width: 35px;
   height: 32px;
   background: url("../assets/images/icons/phone.svg") center center / cover no-repeat;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer__item-mail {
   margin-bottom: 35px;
}

.footer__item-mail::before {
   content: "";
   display: inline-block;
   vertical-align: baseline;
   width: 35px;
   height: 32px;
   background: url("../assets/images/icons/mail.svg") center center / cover no-repeat;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.social__link {
   display: inline-block;
   width: 50px;
   height: 50px;
   
}

.social__link {
   svg {
      transition: all 1.5s cubic-bezier(.19,.92,1,-0.4);
   }
}

.social__link:not(:last-child) {
   margin-right: 26px;
}
/* 
.social__link:hover {
   svg {
      fill: #CD06FF;
   }
} */

.footer__copyright {
   display: flex;
   justify-content: space-between;
   width: 100%;
   font-size: 14px;
}

.footer__copyright-author {
   max-width: 184px;
   text-align: right;
}
