.halls {
   padding: 50px 0;
}

.halls__list {
   /* width: 100%; */
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   gap: 20px;
}

.halls__item {
   display: flex;
   width: 49%;
   height: 349px;
   justify-content: center;
   align-items: center;
}

.halls__link {
   font-size: 70px;
   font-weight: 700;
   line-height: 80px;
   color: var(--color);
}

.halls__link:hover {
   color: var(--halls-hover);
}

#vibes80 {
   background: url("../assets/images/bg/halls/80s.jpg") center center / cover no-repeat;
}

#starwars {
   background: url("../assets/images/bg/halls/starwars.jpg") center center / cover no-repeat;
}

#wildfest {
   background: url("../assets/images/bg/halls/wildwest.jpg") center center / cover no-repeat;
}

#neon {
   background: url("../assets/images/bg/halls/neon.jpg") center center / cover no-repeat;
}
