.have {
   padding: 50px 0;
}

.have__title {
   width: 875px;
   margin-inline: auto;
}

.have__list {
   display: flex;
   overflow: visible;
   column-gap: 20px;
   row-gap: 40px;
   flex-wrap: wrap;
}

.have__item {
   width: 340px;
   height: 228px;
   display: flex;
   align-items: flex-end;
   padding-left: 40px;
   padding-bottom: 10px;
   font-weight: 700;
   font-size: 20px;
   line-height: 28px;
   transition: all 0.5s ease-in;
}

.have__item_VR {
   background: url("../assets/images/have/vr.jpg") center center/cover no-repeat;
}

.have__item_audio {
   background: url("../assets/images/have/audio.jpg") center center/cover no-repeat;
   transform: translateY(70px);
}

.have__item_karaoke {
   background: url("../assets/images/have/micro.jpg") center center/cover no-repeat;
}

.have__item_games {
   background: url("../assets/images/have/game.jpg") center center/cover no-repeat;
}

.have__item_cinema {
   background: url("../assets/images/have/netflix.jpg") center center/cover no-repeat;
   transform: translateY(70px);

}

.have__item_sony {
   background: url("../assets/images/have/sony.jpg") center center/cover no-repeat;
}

@media (max-width: 1024px) {
   .have__title {
      width: 530px;
   }

   .have__list {
      display: grid;
      grid-template-columns: repeat(3, 287px);
      column-gap: 20px;
      row-gap: 30px;
   }

   .have__item {
      box-sizing: border-box;
      width: 287px;
      height: 172px;
   }
}


@media (max-width: 768px) {
   .have {
      padding: 20px 0;
   }

   .have__title {
      margin-bottom: 30px;
   }

   .have__list {
      grid-template-columns: repeat(2, 334px);
      column-gap: 20px;
      row-gap: 20px;
   }

   .have__item {
      width: 344px;
      height: 200px;
   }

   .have__item_audio, .have__item_cinema {
      transform: none;
   }
}


@media (max-width: 320px) {
   .have {
      padding: 10px 0;
   }

   .have__title {
      width: auto;
      line-height: 18px;
      margin-bottom: 15px;
   }

   .have__list {
      grid-template-columns: repeat(2, 135px);
      column-gap: 10px;
      row-gap: 10px;
   }

   .have__item {
      width: 135px;
      height: 75px;
      padding: 30px 10px;
      align-items: unset;
      font-size: 10px;
      line-height: 14px;
   }

   .have__item_cinema {
      padding-bottom: 0;
   }
}