

.navigation__list {
   display: flex;
   justify-content: space-between;
}

.navigation__link {
   color: #fff;
}

.navigation__link:hover {
   color: var(--navigation-hover);
   text-decoration: underline;
}
