:root {
   --color: #fff;
   --bgc: #1B1A1B;
   --main-color: #CD06FF;
   --btn-color: #6C0287;
   --navigation-hover: #898888;
   --halls-hover: #8c8787;
   --halls-checked: #0000ff;
   --placeholder: #211E1E; 
   --faq-bg: #440F51;
}
